.main-content {
    background-color: #272936;
}

.main-text {
    color: #6272A4;
}

.buttons-sidebar {

}

.settings-button {

}

.setting-text {
    color: #8BE9FC;
}

.gists-button {

}

.gists-text {
    color: #74F27C;
}

.stackoverflow-button {
    
}

.stackoverflow-text {
    color: #F7B76B;
}

.trending-button {

}

.trending-text {
    color: #EE75C5;
}

.scratchpad-button {

}

.scratchpad-text {
    color: #BD92F9;
}

.playground-button {

}

.playground-text {
    color: #F8F8F2;
}

.help-intro-button {

}

.help-intro-text {
    color: #E6DB74;
}

.buttons-sidebar-footer {

}

.initab-image {

}

.social-media-images {

}

.facebook-image {

}

.linkedin-image {

}

.twitter-image {

}

.reddit-image {

}

.column-header {

}

.column-header-text {
    color: #8AE8FB;
}

.horizontal-rule {

}

.item-side-highlight {
    
}

.img-reddit {

}

.img-clock {

}

.img-github {

}

.reddit-column {

}

.reddit-item {

}

.history-column {

}

.history-favicon {

}

.history-item {

}

.history-time {

}

.history-time-text {
    color: #929292;
}

.timestamp {

}

.timestamp-text {
    color: #6272A4;
}

.github-column {

}

.github-item {

}

.highlight-text {
    color: #F0F88C;
}
