h1,
p,
br,
button {
    display:    block;
    text-align: center;
    margin:     0 auto;
}
button {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-55%, -51%);
}
br {
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-51%, -51%);
}
p {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -51%);
}
h1 {
    position:   absolute;
    top:        45%;
    left:       50%;
    transform:  translate(-45%, -50%);
}