p {
    font-family: monospace;
}

.main-background {
    background-color: #272936;
}

.sidebar-background {
    background-color: #44475A;
}

.root-container {
    display: grid;
    grid-template: repeat(25, 1fr) / 12% 21% 47% 20%;
    height: 100%;
    width: 100%;
}

.buttons-sidebar {
    grid-row: 1 / 23;
    grid-column: 1 / 2;
}

.buttons-sidebar-footer {
    grid-row: 23 / 26;
    grid-column: 1 / 2;
}

.reddit-title {
    grid-row: 1 / 6;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 64px 1fr;
}

.reddit-title p {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.reddit-title img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
    height: 16px;
    width: 16px;
    margin-right: 0.5em;
}

.reddit-column {
    grid-row: 4 / 26;
    grid-column: 2 / 3;
}

.history-title {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
}

.history-column {
    grid-row: 4 / 21;
    grid-column: 3 / 4;
}

.timestamp {
    grid-row: 21 / 26;
    grid-column: 3 / 4;
}

.github-title {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
}

.github-column {
    grid-row: 4 / 26;
    grid-column: 4 / 5;
}

.main-text {
    color: #6272A4;
}

.settings-button {

}

.setting-text {
    color: #8BE9FC;
}

.gists-button {

}

.gists-text {
    color: #74F27C;
}

.stackoverflow-button {
    
}

.stackoverflow-text {
    color: #F7B76B;
}

.trending-button {

}

.trending-text {
    color: #EE75C5;
}

.scratchpad-button {

}

.scratchpad-text {
    color: #BD92F9;
}

.playground-button {

}

.playground-text {
    color: #F8F8F2;
}

.help-intro-button {

}

.help-intro-text {
    color: #E6DB74;
}

.initab-image {

}

.social-media-images {

}

.facebook-image {

}

.linkedin-image {

}

.twitter-image {

}

.reddit-image {

}

.column-header {

}

.column-header-text {
    color: #8AE8FB;
}

.horizontal-rule {

}

.item-side-highlight {
    
}

.img-reddit {

}

.img-clock {

}

.img-github {

}

.reddit-item {

}

.history-favicon {

}

.history-item {

}

.history-time {

}

.history-time-text {
    color: #929292;
}

.timestamp-text {
    color: #6272A4;
}

.github-item {

}

.highlight-text {
    color: #F0F88C;
}
